.container {
    margin: 5px 0;
    background-color: #FFFFFF;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 40px 60px;
}

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.invoice {
    display: flex;
    align-items: center;
    border: 1px solid gray;
    padding: 0px 12px;
    width: 30%;
    font-weight: 600;
    font-size: 28px;
    border-radius: 6px;
}

.title {
    padding: 30px 50px;
    border: 1px solid gray;
    border-radius: 10px;
}

.addLogoBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 17px;
    display: flex;
    align-items: center;
}

.formContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

/* ..................... */
.uploadImg {
    display: none;
}

.fileLabel {
    padding: 10px 10px;
    font-size: 16px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.file:hover .updateBtnGrp {
    display: flex;
}

.fileLabel img {
    max-width: 180px;
    max-height: 180px;
}

.updateBtnGrp {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    display: none;
}

.updateButton {
    cursor: pointer;
    border-radius: 2px;
    padding: 2px 10px;
    border: none;
    background-color: rgb(199, 199, 214);

}

.removeButton {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #dc3545;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}